<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/WarStyling.css" rel="stylesheet">
</head>
<body>

    <div class="bodyDiv">

        <div class="title">
            <h1>LEADER BOARD</h1>
        </div>

        <div class="logoutDiv">
            <button id="logoutBtn">LOG OUT</button>
        </div>

        <div class="backToUserProfileDiv">
            <button id="backToUserProfileBtn">BACK TO PROFILE</button>
        </div>

        <div>
            <button id="next10">NEXT 10</button>
        </div>

        <div>
            <button id="previous10">PREVIOUS 10</button>
        </div>

        <div id="leaderBoardDiv"></div>

    </div>

    <script src="js/Leaderboard.js" type="text/javascript"></script>
</body>
</html>